<form method="POST">
  {% if error %}
  <div class="error">{{ error}}</div>
  {% endif %}
  <input type="date" id="date" name="date"
   value="{% if post %}{{post.date.year}}-{{post.date.month|stringformat:'02d'}}-{{post.date.day|stringformat:'02d'}}{% else %}{{today}}{% endif %}">
  <input type="text" name="title" value="{% if post %}{{post.title}}{% endif %}" placeholder="Title">
  <textarea name="body" placeholder="Body">{% if post %}{{post.body}}{% endif %}</textarea>
  <label for="visible">Visible:
     <input id="visible" name="visible" type="checkbox" {% if not post or post.visible %}checked{% endif %}>
  </label>
  {% csrf_token %}
  <input type="submit">
</form>
