{% extends "base.html" %}

{% block title %}Blog Posts{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/blog.css">
{% endblock %}

{% block main %}
<h1>Blog Posts</h1>

<div id="posts">
  {% for post in posts %}
  <div class="blog-post{% if not post.visible %} invisible{% endif %}">
    <div class="post-date">{{ post.date|date:"j F, Y" }}</div>
    <h2 class="post-title">{{ post.title }}</h2>
    <div class="post-body">{{ post.samdown_body|safe }}</div>
  </div>
  {% endfor %}
</div>
{% endblock %}
