{% extends "base.html" %}

{% block title %}Blog{% endblock %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="/static/css/blog.css">
{% endblock %}

{% block main %}
<h1>Blog Posts.</h1>
<div id="blog_posts">
  {% for blog_post in blog_posts %}
    <div class="blog_post">
      <div class="blog_post_title">{{ blog_post.title }}</div>
      <div class="blog_post_date">{{ blog_post.date }}</div>
      <div class="blog_post_body">{{ blog_post.formatted_body|safe }}</div>
    </div>
  {% endfor %}
</div>
{% endblock %}
