{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block main %}
<h1>Hello.</h1>
<div id="welcome">
  <p>Welcome to my home on the internet.</p>
  <p>I'm Sam, a developer living in Edinburgh, and this is my personal website.
    It contains my blog, and anything interesting I might make or do.</p>
  <p>Have a look around!</p>
</div>
<div id="latest_news">
  <h2>Latest News</h2>
  <div class="blog_post">
  </div>
  <div id="more_posts">
    <a href="/blog/">More posts</a>
  </div>
</div>
{% endblock %}
