{% extends "base.html" %}

{% block title %}{{post.title}}{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/blog.css">
{% endblock %}

{% block main %}
<div id="posts">
  {% include "post.html" %}
  <div id="posts-nav">
    {% if previous %}
      <a id="previous-page" href="/blog/{{previous.date.year}}/{{previous.date.month}}/{{previous.date.day}}/">&#8592; Previous</a>
    {% else %}
      <div id="previous-page"></div>
    {% endif %}
    {% if next %}
      <a id="next-page" href="/blog/{{next.date.year}}/{{next.date.month}}/{{next.date.day}}/">Next &#8594;</a>
    {% endif %}
  </div>
{% endblock %}
