<div class="blog-post{% if not post.visible %} invisible{% endif %}">
  {% if user.is_authenticated %}<a class="edit-post-link"
   href="/blog/{{post.date.year}}/{{post.date.month}}/{{post.date.day}}/edit/">Edit</a>{% endif %}
  <div class="post-date">{{ post.date|date:"j F, Y" }}</div>
  <h2 class="post-title">{% if post.visible %}
    <a href="/blog/{{post.date.year}}/{{post.date.month}}/{{post.date.day}}/">{{ post.title }}</a>
  {% else %} {{ post.title }} {% endif %}</h2>
  <div class="post-body">{{ post.samdown_body|safe }}</div>
</div>
