{% extends "base.html" %}

{% block title %}{{year}}{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/blog.css">
{% endblock %}

{% block main %}
<h1>{{year}}</h1>

<div id="posts">
  {% for post in posts %}
  {% include "post.html" %}
  {% endfor %}
  <div id="posts-nav">
    {% if previous %}
      <a id="previous-page" href="/blog/{{previous}}/">&#8592; {{previous}}</a>
    {% else %}
      <div id="previous-page"></div>
    {% endif %}
    {% if next %}
      <a id="next-page" href="/blog/{{next}}/">{{next}} &#8594;</a>
    {% endif %}
  </div>
</div>
{% endblock %}
