{% extends "base.html" %}

{% block title %}Login{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/form.css">
{% endblock %}

{% block main %}
<form method="POST">
  <h1>Login</h1>
  <div class="input-row">
    <label for="id_username">
      Username:
    </label><input type="text" name="username" id="id_username">
  </div>
  <div>
    <label for="id_password">
      Password:
    </label><input type="password" name="password" id="id_password">
  </div class="input-row">
  {% csrf_token %}
  <div class="input-row submit-row">
    <input type="submit">
  </div>
</form>
{% endblock %}
