{% extends "base.html" %}

{% block title %}Research{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/research.css">
{% endblock %}

{% block main %}
<h1>My Research</h1>

<div id="research-summary">
  {{ text.markdown|safe }}
  {% if user.is_authenticated %}<a href="/edit/research/" class="edit-link">Edit</a>{% endif %}
</div>
</div>

<div id="publications">
  <h2>Publications</h2>
  {% if user.is_authenticated %}
  <div class="new-publication"><a href="/research/new/">New Publication</a></div>
  {% endif %}
  {% if publications %}
    {% for pub in publications %}
    <div class="publication">
      <h3 class="publication-title">{{ pub.title }}</div>
      <div class="publication-date">{{ pub.date|date:"j F, Y" }}</div>
      <div class="publication-authors">{{ pub.markdown_authors|safe }}</div>
      <a class="publication-summary" href="/research/{{ pub.id }}/">Read Summary</a>
    </div>
    {% endfor %}
  {% else %}
  <p class="no-pub">Currently no publications.</p>
  {% endif %}
</div>
{% endblock %}
