form, fieldset {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

input[type=date], input[type=text] {
  width: 230;
  margin-left: auto;
  margin-right: auto;
}

input[type=submit], input[type=date], input[type=text] {
  margin-top: 20px;
}

.error {
  color: #FF9494;
  font-size: 65%;
  text-align: center;
}

.error ul {
  list-style-type: none;
  padding-left: 0px;
}

table {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  margin-top: 40px;
}

th {
  text-align: left;
}

tr {
  line-height: 200%;
}

td a {
  margin-top: 0px;
  background-color: #7F0000;
  color: #FFFFFF;
  font-size: 70%;
  padding: 2px;
  border-radius: 3px;
}


@media only screen and (min-width: 568px) {
  /* iPad down */
  table {
    width: 80%;
  }

}


@media only screen and (min-width: 769px) {
  /* Small Desktop screens */

  table {
    width: 75%;
  }

}


@media only screen and (min-width: 1024px) {
  /* Big Desktop screens */
  table {
    width: 70%;
  }

}
