#options {
  width: 25%;
}

.option {
  width: 100%;
}

.seconds {
  margin-top: 40px;
  margin-bottom: 40px;
}

form a:hover {
  color: black;
}

input.pure-button {
  opacity: 0.5;
}
input.pure-button-active {
  opacity: 1;
}

canvas {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  display: block;
}
