{% extends "base.html" %}

{% block title %}Sessions{% endblock %}

{% block precss %}
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
{% endblock %}

{% block extrahead %}
<link rel="stylesheet" href="/static/css/pianoupdate.css">
{% endblock %}

{% block main %}
<h1>Practice Sessions</h1>
<form method="POST" class="pure-form">
  <fieldset>
    {{ form.date }}
    {{ form.minutes }}
    {% csrf_token %}
    <input type="submit" class="pure-button pure-button-primary">
  </fieldset>
</form>
<div class="error">
  {% if form.date.errors %}
    {{ form.date.errors }}
  {% endif %}
  {% if form.minutes.errors %}
    {{ form.minutes.errors }}
  {% endif %}
</div>
<table>
  <thead>
    <th>Date</th>
    <th>Minutes</th>
    <th></th>
  </thead>
  <tbody>
  {% for session in sessions %}
    <tr>
      <td>{{ session.date }}</td>
      <td>{{ session.minutes }}</td>
      <td>
        <form method="POST" class="pure-form">
          <input type="hidden" name="date" value="{{ session.formatted_date }}">
          {% csrf_token %}
          <input value="Delete" type="submit">
        </form>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
