{% extends "base.html" %}

{% block title %}Piano{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/piano.css">
{% endblock %}

{% block main %}
<h1>Learning Piano</h1>
<div id="piano-description">
  {{ text.samdown_content|safe }}
  {% if user.is_authenticated %}<a href="/edit/piano-long/" class="edit-link">Edit</a>{% endif %}
</div>

<div id="piano-progress">
  <h2>Progress</h2>
  <p>I've been practicing for {{ practice_time }}.</p>

  <div id="sixty-day-charts">
    <h3>Past Sixty Days</h3>
    <div id="sixty-day-bar-chart"></div>
    <div id="sixty-day-line-chart"></div>
  </div>

  <div id="one-year-charts">
    <h3>Past Year</h3>
    <div id="one-year-bar-chart"></div>
    <div id="one-year-line-chart"></div>
  </div>

  <div id="all-time-charts">
    <h3>All Time</h3>
    <div id="all-time-bar-chart"></div>
    <div id="all-time-line-chart"></div>
  </div>

  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <script>
    var sixty_bar = Highcharts.chart("sixty-day-bar-chart", {
      chart: {
        type: "column"
      },
      credits: {
        enabled: false
      },
      exporting: {
        enabled: false
      },
      legend: {
        enabled: false
      },
      tooltip: {
        pointFormat: '<span style="padding:0"><b>{point.y} mins</b></span>',
        useHTML: true
      },
      title: {
        text: "Past Sixty Days"
      },
      xAxis: {
        type: "datetime",
        crosshair: true,
        title: {
          "text": "Date",
          style: {"font-weight": "bold"}
        },
        min: {{ minus_60 }},
        max: {{ today }}
      },
      yAxis: {
        min: 0,
        max: 90,
        tickInterval: 30,
        minorTickInterval: 10,
        title: {
          text: 'Time (minutes)',
          style: {"font-weight": "bold"}
        }
      },
      series: [{
        data: {{ last_sixty }},
        color: "#4A9586"
      }]
    });
    var sixty_line = Highcharts.chart("sixty-day-line-chart", {
      chart: {
        type: "area",
        zoomType: 'x'
      },
      credits: {
        enabled: false
      },
      exporting: {
        enabled: false
      },
      legend: {
        enabled: false
      },
      tooltip: {
        pointFormat: '<span style="padding:0"><b>{point.y:.2f} hours</b></span>',
        useHTML: true
      },
      title: {
        text: "Past Sixty Days (Cumulative)"
      },
      xAxis: {
        type: "datetime",
        crosshair: true,
        title: {
          "text": "Date",
          style: {"font-weight": "bold"}
        },
        min: {{ minus_60 }},
        max: {{ today }}
      },
      yAxis: {
        title: {
          text: 'Time (hours)',
          style: {"font-weight": "bold"},
        },
        floor: 0
      },
      plotOptions: {
        area: {
          threshold: null
        }
      },
      series: [{
        data: {{ last_sixty_cumulative }},
        color: "#4A9586",
        type: "area",
        marker: {
          enabled: false,
          states: {
            hover: {
              enabled: false
            }
          }
        }
      }]
    });
    var year_bar = Highcharts.chart("one-year-bar-chart", {
      chart: {
        type: "column"
      },
      credits: {
        enabled: false
      },
      exporting: {
        enabled: false
      },
      legend: {
        enabled: false
      },
      tooltip: {
        pointFormat: '<span style="padding:0"><b>{point.y} mins</b></span>',
        useHTML: true
      },
      title: {
        text: "Past Year"
      },
      xAxis: {
        type: "datetime",
        crosshair: true,
        title: {
          "text": "Date",
          style: {"font-weight": "bold"}
        },
        min: {{ minus_365 }},
        max: {{ today }}
      },
      yAxis: {
        min: 0,
        max: 90,
        tickInterval: 30,
        minorTickInterval: 10,
        title: {
          text: 'Time (minutes)',
          style: {"font-weight": "bold"}
        }
      },
      series: [{
        data: {{ last_year }},
        color: "#4A9586",
        pointPadding: 0.25,
        groupPadding: 0,
        borderWidth: 0
      }]
    });
    var year_line = Highcharts.chart("one-year-line-chart", {
      chart: {
        type: "area",
        zoomType: 'x'
      },
      credits: {
        enabled: false
      },
      exporting: {
        enabled: false
      },
      legend: {
        enabled: false
      },
      tooltip: {
        pointFormat: '<span style="padding:0"><b>{point.y:.2f} hours</b></span>',
        useHTML: true
      },
      title: {
        text: "Past Year (Cumulative)"
      },
      xAxis: {
        type: "datetime",
        crosshair: true,
        title: {
          "text": "Date",
          style: {"font-weight": "bold"}
        },
        min: {{ minus_365 }},
        max: {{ today }}
      },
      yAxis: {
        title: {
          text: 'Time (hours)',
          style: {"font-weight": "bold"}
        },
        floor: 0
      },
      plotOptions: {
        area: {
          threshold: null
        }
      },
      series: [{
        data: {{ last_year_cumulative }},
        color: "#4A9586",
        type: "area",
        marker: {
          enabled: false,
          states: {
            hover: {
              enabled: false
            }
          }
        }
      }]
    });
    var all_bar = Highcharts.chart("all-time-bar-chart", {
      chart: {
        type: "column"
      },
      credits: {
        enabled: false
      },
      exporting: {
        enabled: false
      },
      legend: {
        enabled: false
      },
      tooltip: {
        pointFormat: '<span style="padding:0"><b>{point.y} mins</b></span>',
        useHTML: true
      },
      title: {
        text: "All Time"
      },
      xAxis: {
        type: "datetime",
        crosshair: true,
        title: {
          "text": "Date",
          style: {"font-weight": "bold"}
        },
        min: {{ first_month }},
        max: {{ this_month }}
      },
      yAxis: {
        minorTickInterval: 10,
        title: {
          text: 'Time (minutes)',
          style: {"font-weight": "bold"}
        }
      },
      series: [{
        data: {{ all }},
        color: "#4A9586",
      }]
    });
    var all_line = Highcharts.chart("all-time-line-chart", {
      chart: {
        type: "area",
        zoomType: 'x'
      },
      credits: {
        enabled: false
      },
      exporting: {
        enabled: false
      },
      legend: {
        enabled: false
      },
      tooltip: {
        pointFormat: '<span style="padding:0"><b>{point.y:.2f} hours</b></span>',
        useHTML: true
      },
      title: {
        text: "All Time (Cumulative)"
      },
      xAxis: {
        type: "datetime",
        crosshair: true,
        title: {
          "text": "Date",
          style: {"font-weight": "bold"}
        },
        min: {{ pre_month }},
        max: {{ this_month }}
      },
      yAxis: {
        title: {
          text: 'Time (hours)',
          style: {"font-weight": "bold"}
        },
        floor: 0
      },
      plotOptions: {
        area: {
          threshold: null
        }
      },
      series: [{
        data: {{ all_cumulative }},
        color: "#4A9586",
        type: "area",
        marker: {
          enabled: false,
          states: {
            hover: {
              enabled: false
            }
          }
        }
      }]
    });
  </script>

</div>

<div id="piano-videos">
  <h2>Videos</h2>
  <div class="youtube"><iframe src="https://www.youtube.com/embed/videoseries?list=UUILeIbhtlv4lmgAaZbPKr8A&max-results=1"
     frameborder="0" allowfullscreen></iframe></div>
</div>
{% endblock %}
