{% extends "base.html" %}

{% block title %}Notes Practice{% endblock %}

{% block precss %}
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
{% endblock %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="/static/css/piano.css">
{% endblock %}

{% block main %}
<h1>Notes Practice</h1>

<form class="pure-form">

  <fieldset id="options" class="pure-group options">
    <input type="button" id="id_notes" value="Notes" class="pure-button pure-button-active option">
    <input type="button" id="id_chords" value="Chords" class="pure-button option">
    <input type="button" id="id_sheets" value="Sheet Notes" class="pure-button option">
  </fieldset>

  <label for="id_black" class="pure-checkbox">
    <input id="id_black" type="checkbox" value="">
    Use black keys
  </label>

  <div class="pure-control-group seconds">
    <label for="id_seconds">Seconds</label>
    <input id="id_seconds" type="text" placeholder="Seconds">
  </div>

  <a id="start" class="pure-button">Start</a>
  <a id="stop" class="pure-button pure-button-disabled">Stop</a>

</form>
<canvas id="display" height="230"></canvas>
{% endblock %}

{% block js %}
<script src="/static/js/vexflow.js"></script>
<script src="/static/js/piano.js"></script>
{% endblock %}
