{% extends "base.html" %}

{% block title %}Piano Sessions{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/piano.css">
{% endblock %}

{% block main %}
<h1>Practice Sessions</h1>

<form method="POST" class="one-row">
  <input type="date" name="date" value="{{ today }}" id="id_date">
  <input type="text" name="minutes" autocomplete="off" placeholder="minutes">
  {% csrf_token %}
  <input type="submit">
</form>
{% if error_text %}
  <div class="error">
    {{ error_text}}
  </div>
{% endif %}
<table>
  <thead><th>Date</th><th>Minutes</th><th></th></thead>
  <tbody>
    {% for session in sessions %}
    <tr>
      <td>{{ session.date|date:"j F, Y" }}</td>
      <td>{{ session.minutes }}</td>
      <td><a href="/piano/delete/{{ session.pk }}/">Delete</a></td>
    </tr>
    {% endfor %}
  </tbody>

</table>
{% endblock %}
