{% extends "base.html" %}

{% block title %}Learning Piano{% endblock %}

{% block main %}
<h1>Learning Piano</h1>

<div id="explanation">
  <p>Since February 2016, I have been learning to play the piano.</p>
  <p>This was something I had wanted to do for a long, long time, but only
    after graduation did I find I had both the time and the money to sink into
    a project like this.</p>
  <p>I also decided to chronicle the attempt in video form. I hoped that putting
    it on public record like this would motivate me to keep practicing and keep
    learning long past the point when I would have otherwise quit after the
    initial enthusiasm wore away.</p>
  <p>I explain in more detail in the introductory video:</p>
  <div class="youtube">
    <iframe src="//www.youtube.com/embed/zgfARa9usiw"
     frameborder="0" allowfullscreen></iframe>
  </div>
  <p>I'm very glad I started this. It's very different from all of my other
    projects, and it's probably one I enjoy the most as well - usually.</p>
  <p>As part of this endeavour, I will be logging my hours spent practicing (see
    the charts below) and posting the videos here. I am currently intending to
    post videos after every ten hours of practice.</p>
  <p>Finally, I have created a simple web app for practcing learning basic
    musical notes - partly out of amazement that I couldn't find such a tool
    (though I'm sure there are if you look hard enough). It can be found
    <a href="practice">here</a>.</p>
  <h2>Most Recent Video</h2>
  <div class="youtube">
    <iframe src="//www.youtube.com/embed/{{ recent_code }}"
     frameborder="0" allowfullscreen></iframe>
  </div>
</div>

<div id="progress">
  <h2>Progress</h2>
  <div id="month">
    <h3>Past Sixty Days</h3>
    <div class="chart">
      <svg></svg>
    </div>
    <div class="chart">
      <svg></svg>
    </div>
  </div>
  <div id="year">
    <h3>Past Twelve Months</h3>
    <div class="chart">
      <svg></svg>
    </div>
    <div class="chart">
      <svg></svg>
    </div>
  </div>

</div>


{% endblock %}
