{% extends "base.html" %}

{% block title %}Sessions{% endblock %}

{% block extrahead %}
{% endblock %}

{% block main %}
<h1>Practice Sessions</h1>
<form method="POST">
  {{ form.date }}
  {% if form.date.errors %}
  <div class="error">
    {{ form.date.errors }}
  </div>
  {% endif %}
  {{ form.minutes }}
  {% if form.minutes.errors %}
  <div class="error">
    {{ form.minutes.errors }}
  </div>
  {% endif %}
  {% csrf_token %}
  <input type="submit">
</form>
<table>
  <thead>
    <th>Date</th>
    <th>Minutes</th>
    <th></th>
  </thead>
  <tbody>
  {% for session in sessions %}
    <tr>
      <td>{{ session.date }}</td>
      <td>{{ session.minutes }}</td>
      <td><form method="POST"><input type="hidden" name="date" value="{{ session.formatted_date }}">{% csrf_token %}<input value="Delete" type="submit"></form></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
