#media-grid {
  width: 100%;
  text-align: center;
}

.media-square {
  position: relative;
  display: inline-block;
  width: 150px;
  height: 150px;
  background-size: cover;
  background-position: center; 
  margin: 5px;
  cursor: pointer;
}

.image_title {
  background-color: #FFFFFF;
  font-size: 50%;
  margin-top: 5px;
  display: inline-block;
  padding-left: 3px;
  padding-right: 3px;
}
