{% extends "base.html" %}

{% block title %}Media{% endblock %}

{% block precss %}
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
{% endblock %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="/static/css/media.css">
{% endblock %}

{% block main %}
<h1>All Media</h1>

<div id="image_grid">
  {% for image in images %}
    <div class="image_cell" style="background-image: url(/{{ image.imagefile.url }});" onclick="document.location='/{{ image.imagefile.url }}';">
      <div class="image_title">{{ image.imagetitle }}</div>
      <a class="pure-button delete-button" href="/media/delete/{{ image.imagetitle }}/">Delete</a>
    </div>
  {% endfor %}
</div>
{% endblock %}
