{% extends "base.html" %}

{% block title %}No Further{% endblock %}

{% block main %}
<h1>404</h1>

<p>You have requested something which doesn't exist. If you followed a link
here then that link is broken. <em>Broken</em>. Move on with your life..</p>
<div style="text-align: center;">
  <img src="/static/404.jpg" title="You just waited precious seconds of your life checking to see if this image had ALT text. You will never be this young again. Close your browser and go for a walk.">
</div>


{% endblock %}
