<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="author" content="Sam Ireland">
  <meta name="description" content="Sam Ireland's personal website">
  <link rel="icon" type="image/gif" href="/static/images/favicon.gif">
  <link rel="apple-touch-icon" type="image/png" href="/static/images/favicon-96x96.png" sizes="96x96">
  <link rel="apple-touch-icon" type="image/png" href="/static/images/favicon-16x16.png" sizes="16x16">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock %} - Sam Ireland</title>
  <script src="https://code.jquery.com/jquery.min.js"></script>
  <script type="text/javascript" src="/static/js/main.js" async></script>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab'
   rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans'
   rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/static/css/main.css">
  {% block css %}{% endblock %}
  <!--analytics-->
</head>

<body>
  <header>
    Sam Ire<a href="/authenticate/" id="login-link">l</a>and
    <div id="navicon">&#9776;</div>
    {% if user.is_authenticated %}
    <div id="quick-links-left">
      <a href="/piano/update/" id="piano-update-link" class="quick-link">Piano</a>
    </div>
    <a href="/logout/" id="logout-link">Logout</a>
    {% endif %}
  </header>
  <nav><ul><li>
    <a href="/">Home</a>
  </li><li>
    <a href="/research/">Research</a>
  </li><li>
    <a href="/projects/">Projects</a>
  </li><li>
    <a href="/">Writing</a>
  </li><li>
    <a href="/">Blog</a>
  </li><li>
    <a href="/about/">About</a>
  </li></ul></nav>
  <main>
    {% block main %}
    {% endblock %}
  </main>
  <footer><ul>
    <li><a href="https://twitter.com/samirelanduk/" target="_blank"><img src="/static/images/twitter.png"></a></li>
    <li><a href="https://linkedin.com/in/sam-ireland-42b73568/" target="_blank"><img src="/static/images/linkedin.png"></a></li>
    <li><a href="https://github.com/samirelanduk/" target="_blank"><img src="/static/images/github.png"></a></li>
    <li><a href="https://www.researchgate.net/profile/Sam_Ireland2/" target="_blank"><img src="/static/images/researchgate.png"></a></li>
    <li><a href="https://instagram.com/samirelanduk/" target="_blank"><img src="/static/images/instagram.png"></a></li>
  </ul></footer>
</body>

</html>
