<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="author" content="Sam Ireland">
  <meta name="description" content="Sam Ireland's personal website">
  <link rel="icon" type="image/gif" href="/static/images/favicon.gif">
  <link rel="apple-touch-icon" type="image/png" href="/static/images/favicon-96x96.png" sizes="96x96">
  <link rel="apple-touch-icon" type="image/png" href="/static/images/favicon-16x16.png" sizes="16x16">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock %} - Sam Ireland</title>
  <script src="https://code.jquery.com/jquery.min.js"></script>
  <script type="text/javascript" src="/static/js/main.js" async></script>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab'
   rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans'
   rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/static/css/main.css">
  {% block css %}{% endblock %}
  <!--analytics-->
</head>

<body>
    <header></header>

    <nav></nav>

    <main></main>

    <footer></footer>

</body>

</html>
