{% extends "base.html" %}

{% block title %}Edit Blog Post{% endblock %}

{% block main %}
<h1>Edit Blog Post</h1>
<form method="POST">
    <input type="date" name="date" value="{{ form.date.value|date:"Y-m-d" }}" disabled>
    {{ form.title }}
    {{ form.body }}
    {% csrf_token %}
    <input type="submit" value="Save">
</form>

<button class="delete" onclick="makeDeletionAppear(this);">Delete</button>
<form class="hidden-form deletion" method="POST">
    <p>Are you sure you want to delete this blog post?</p>
    <button type="button" onclick="hideDeletion(this);">No, go back</button>
    <input type="hidden" name="delete" value="yes">
    {% csrf_token %}
    <input type="submit" class="delete-button" value="Yes, delete">
</form>
{% endblock %}
