{% extends "base.html" %}

{% block title %}Edit Publication{% endblock %}

{% block main %}
<h1>Edit Publication</h1>
<form method="POST">
    <input type="text" name="id" value="{{ form.id.value }}" disabled>
    {{ form.title }}
    {{ form.date }}
    {{ form.url }}
    {{ form.doi }}
    {{ form.authors }}
    {{ form.body }}
    {% csrf_token %}
    <input type="submit" value="Save">
</form>

<button class="delete" onclick="makeDeletionAppear(this);">Delete</button>
<form class="hidden-form deletion" method="POST">
    <p>Are you sure you want to delete this publication?</p>
    <button type="button" onclick="hideDeletion(this);">No, go back</button>
    <input type="hidden" name="delete" value="yes">
    {% csrf_token %}
    <input type="submit" class="delete-button" value="Yes, delete">
</form>
{% endblock %}
