{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block main %}
<script>
function editText(button, csrf) {
    button.remove();
    var form = $(".hidden-form");
    form.show();
}
</script>

<div class="intro">
    {{ text.html|safe }}
    {% if user.is_authenticated %}
    <button class="edit" onclick="editText(this);">Edit</button>
    <form class="hidden-form" method='POST' action='/edit/home/'>
        <textarea name="body">{{ text.body }}</textarea>
        <input type="hidden" name="redirect" value="/">
        {% csrf_token %}
        <input type="submit" value="Save">
    </form>
    {% endif %}
</div>
{% endblock %}
