{% extends "base.html" %}

{% block title %}Media{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/media.css">
{% endblock %}

{% block main %}
<h1>Media</h1>

<form method="POST" enctype="multipart/form-data">
    <input type="file" name="file" required>
    <input type="text" placeholder="Media name" name="name" required>
    {% csrf_token %}
    <input type="submit">
</form>
<div id="media-grid">
    {% for mediafile in media %}
        <div class="media-square" style="background-image: url(/{{ mediafile.mediafile.url }});">
            <div class="image_title">{{ mediafile.name }}</div>
        </div>
    {% endfor %}
</div>
{% endblock %}
