{% extends "base.html" %}

{% block title %}Research{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/research.css">
{% endblock %}

{% block main %}
<h1>Research</h1>

<div class="summary editable">
    {{ text.html|safe }}
</div>

<div id="publications">
    <h2>Publications</h2>

    {% if publications %}
        {% for pub in publications %}
            <div class="publication">
                <h3 class="pub-title">{{ pub.title }}</h3>
                <div class="date">{{ pub.date|date:"j F, Y" }}</div>
                <div class="pub-authors">{{ pub.html_authors|safe }}</div>
                <a class="pub-summary" href="/research/{{ pub.id }}/">Read Summary</a>
            </div>
        {% endfor %}
    {% else %}
        <p>Currently no publications.</p>
    {% endif %}
</div>

{% endblock %}
