{% extends "base.html" %}

{% block title %}Research{% endblock %}

{% block main %}
<h1>Research</h1>

<div class="summary editable">
    {{ text.html|safe }}
    {% if user.is_authenticated %}
    <button class="edit" onclick="editText(this);">Edit</button>
    <form class="hidden-form" method='POST' action='/edit/research/'>
        <textarea name="body">{{ text.body }}</textarea>
        <input type="hidden" name="redirect" value="/research/">
        {% csrf_token %}
        <input type="submit" value="Save">
    </form>
    {% endif %}
</div>

<div class="publications">
    <h2>Publications</h2>

    <p>Currently no publications.</p>
{% endblock %}
