<div class="blog-post">
    <div class="date">{{ post.date|date:"j F, Y"}}</div>
    <h{% if text %}3{% elif not posts %}1{% else %}2{% endif %}><a href="/blog/{{ post.date.year }}/{{ post.date.month }}/{{ post.date.day }}">{{ post.title }}</a></h{% if text %}3{% elif not posts %}1{% else %}2{% endif %}>
    <div class="post-body">
    {{ post.html|safe }}
    </div>
</div>

{% with next=post.next %}{% with previous=post.previous %}
{% if not posts and not text %}{% if previous or next %}
<div id="posts-nav">
    {% if previous %}
    <a class="previous-page" href="/blog/{{ previous.date.year }}/{{ previous.date.month }}/{{ previous.date.day }}">&#8592; Previous</a>
    {% else %}
    <div class="previous-page"></div>
    {% endif %}
    {% if next %}
    <a class="next-page" href="/blog/{{ next.date.year }}/{{ next.date.month }}/{{ next.date.day }}">Next &#8594;</a>
    {% endif %}
</div>
{% endif %}{% endif %}
{% endwith %}{% endwith %}
