{% extends "base.html" %}

{% block title %}Writing{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/writing.css">
{% endblock %}

{% block main %}
<h1>Writing</h1>

<div class="summary editable">
    {{ text.html|safe }}
    {% if user.is_authenticated %}
    <button class="edit" onclick="editText(this);">Edit</button>
    <form class="hidden-form" method='POST' action='/edit/writing/'>
        <textarea name="body">{{ text.body }}</textarea>
        <input type="hidden" name="redirect" value="/writing/">
        {% csrf_token %}
        <input type="submit" value="Save">
    </form>
    {% endif %}
</div>


<div id="articles">
    {% if user.is_authenticated %}
    <a class="new" href="/writing/new/">Add Article</a>
    {% endif %}

    {% if articles %}
        {% for article in articles %}
            <div class="article">
                <h3 class="article-title">{{ article.title }}</h3>
                <div class="article-date">{{ article.date|date:"j F, Y" }}</div>
                <div class="article-summary">{{ article.summary }}</div>
                <a class="article-link" href="/writing/{{ article.id }}/">Read More</a>
            </div>
        {% endfor %}
    {% else %}
        <p>Currently no articles.</p>
    {% endif %}
</div>

{% endblock %}
