// The style for the base page

html {
    font-size: 62.5%;
    background-color: $back-gray;
}

body {
    font-family: $font;
    background-color: #fdfdfd;
    margin: 0px;
    color: $black;
    font-size: 0.95em;
}

header {
    background-image: linear-gradient(to top, $green, lighten($green, 5));
    font-family: $title-font;
    font-size: 2.7em;
    padding-left: 5%;
    line-height: 5rem;
    color: #ffffff;
    box-shadow: 0px 2px 4px 0px #333333a0;

    a {
        color: inherit;
        text-decoration: inherit;
        cursor: inherit;
    }

    #navicon {
      float: right;
      padding-left: 5%;
      padding-right: 5%;
      cursor: pointer;
    }
}

nav {
  display: none;
  font-family: $title-font;
  background-color: $light-green;
  position: relative;
  font-size: 1.7em;
  box-shadow: 0px 2px 4px 0px #333333a0;

  ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;

    li {
      display: inline-block;
      width: 50%;
      text-align: center;
      margin: 0px;
      box-sizing: border-box;
      border: 1px solid $green;
      line-height: 4rem;

      a {
          color: #FFFFFF;
          text-decoration: none;
      }
    }
  }
}

main {
    padding: 2rem 3rem;
    font-size: 1.3em;
}

footer {
    margin: 10rem 0px 0px 0px;
    padding: 0px 0px 2rem 0px;
    text-align: center;

    hr {
        width: 25%;
        margin-bottom: 2.5rem;
    }

    .social-icon {
        display: inline;
    }

    img {
        width: 4.5rem;
        height: auto;
        opacity: 0.6;
        transition: 0.5s;
    }

    img:hover {
        opacity: 1;
    }
}


@mixin base--tablet() {
    header {
        line-height: 7.5rem;
        font-size: 3.6em;
        text-align: center;
        line-height: 17rem;
        font-size: 7.5em;
        padding: 0px;

        #navicon {
            display: none;
        }
    }

    nav {
        display: block;
        text-align: center;

        ul {
            li {
                display: inline;
                border: 0px;

                a {
                    display: inline-block;
                    padding-left: 2%;
                    padding-right: 2%;
                }
            }
        }
    }



    main {
        padding: 2.5rem 4rem;
        font-size: 1.5em;
    }
}


@mixin base--laptop() {
    header {
        font-size: 9em;
    }

    nav {
        ul {
            li {
                a {
                    display: inline-block;
                    padding-left: 4%;
                    padding-right: 4%;
                }
            }
        }
    }

    main {
        padding: 3rem 5rem;
        font-size: 1.7em;
    }

    footer {
        img {
            margin-left: 0.5rem;
            margin-right: 0.5rem;
        }
    }
}

@mixin base--desktop() {
    body {
      width: $desktop-width;
      margin: 3rem auto;
      border-radius: $curvature;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    header {
      line-height: 24rem;
      font-size: 12em;
      border-top-left-radius: $curvature;
      border-top-right-radius: $curvature;
    }

    nav {
        font-size: 2em;
        line-height: 5rem;
    }
}
