#blog-posts {
  margin-top: 20px;
}

.blog-post {
  padding: 30px;
  background-color: #f8f9f9;
  border: 1px solid #5CA193;
  margin-bottom: 50px;
  border-radius: 10px;
  position: relative;
}

.blog-post .date {
  font-size: 110%;
  font-weight: bold;
}

.blog-post h2 {
  margin-top: 0px;
}

.blog-post h2 a {
  color: inherit;
}

.post-body {
  font-size: 85%;
}

.next-page, .previous-page {
  display: inline-block;
  width: 48%;
  text-align: center;
  font-weight: bold;
}

.edit-post-link {
  position: absolute;
  right: 10px;
  top: 10px;
}


@media only screen and (min-width: 568px) {
  /* iPad down */
  .post-body {
    font-size: 90%;
  }

}


@media only screen and (min-width: 769px) {
  /* Small Desktop screens */

  .post-body {
    font-size: 100%;
  }

}


@media only screen and (min-width: 1024px) {
  /* Big Desktop screens */

}
