form {
  border: 1px solid black;
  padding: 30px;
}

.formrow {
  margin-top: 15px;
  margin-bottom: 15px;
}

.checkcontainer label {
  text-align: left !important;
}
.pure-form label {
  text-align: left;
}

input[type=checkbox] {
}

input[type=submit] {
  margin-top: 40px;
}

#id_body {
  height: 400px;
}

.error {
  color: #FF9494;
  font-size: 65%;
}

.error ul {
  list-style-type: none;
  padding-left: 0px;
}

#delete {
  margin-top: 30px;
  background-color: #7f0000;
  color: #FFFFFF;
}


@media only screen and (min-width: 568px) {
  /* iPad down */

  form, #delete {
    margin-left: 4%;
    margin-right: 4%;
  }


@media only screen and (min-width: 769px) {
  /* Small Desktop screens */

  .pure-form label {
    text-align: right;
  }

  form, #delete {
    margin-left: 8%;
    margin-right: 8%;
  }


@media only screen and (min-width: 1024px) {
  /* Big Desktop screens */

  form {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
  }

  #delete {
    margin-left: 81px;
  }

}
