.intro {
    margin-top: 50px;
    margin-bottom: 100px;
}

#latest-blog, #latest-article, #latest-publication {
    margin-bottom: 75px;
}

.article-summary {
    margin-top: 15px;
    margin-bottom: 15px;
}

.article:after, .publication:after {
  content:"";
  background: silver;
  position: absolute;
  margin-top: 30px;
  height: 0px;
  width: 0%;
  left: 25%;
}
