/* Base page structure */

html {
  background-color: #EEEEEE;
  color: #444444;
  font-family: 'Open Sans';
  font-size: large;
  line-height: 1.85;
}

header, nav, h1, h2, h3, h4, h5 {
  font-family: 'Roboto Slab';
}

a#login-link {
  color: inherit;
  text-decoration: inherit;
  cursor: text;
}

a#logout-link {
  font-size: 50%;
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  background-color: #3B5998;
  line-height: 1;
  text-decoration: none;
  color: #FFFFFF;
}

#quick-links-left {
  font-size: 25%;
  position: absolute;
  top: 0;
  left: 0;
}

a.quick-link {
  display: block;
  color: #FFFFFF;
  display: block;
  background-color: #3B5998;
  line-height: 1;
  text-decoration: none;
}

body {
  margin: 0px;
  background-color: #FFFFFF;
  position: relative;
}

header {
  font-size: 150%;
  background-color: #4A9586;
  color: #FFFFFF;
  padding-left: 5%;
  line-height: 50px;
}


#navicon {
  float: right;
  padding-left: 5%;
  padding-right: 5%;
  cursor: pointer;
}

nav {
  display: none;
  background-color: #5CA193;
}

nav ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

nav li {
  display: inline-block;
  width: 50%;
  text-align: center;
  margin: 0px;
  box-sizing: border-box;
  border: 1px solid #4A9586;;
  line-height: 40px;
}

nav a {
  color: #FFFFFF;
  text-decoration: none;
  transition: 0.4s;
}

nav a:hover {
  color: #111111;
  transition: 0.5s;
}

main {
  padding: 20px 30px;;
}

footer {
  margin: 100px 0px 0px 0px;
  padding: 0px 0px 20px 0px;
  text-align: center;
}

footer hr {
  width: 25%;
  margin-bottom: 25px;
}

footer ul {
  list-style-type: none;
  padding-left: 0px;
}

footer li {
  display: inline;
}

footer img {
  width: 45px;
  height: auto;
  opacity: 0.6;
  transition: 0.5s;
}

footer img:hover {
  opacity: 1;
}

/* Common elements */

h1 {
  margin: 0px;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.edit-link {
  position: absolute;
  right: 0;
  top: -20px;
  background-color: #3B5998;
  color: #FFFFFF;
  border-radius: 5px;
  line-height: 1.1;
  padding: 3px;
}

.youtube {
  position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
  margin-bottom: 15px;
	height:0;
	overflow:hidden;
}

.youtube iframe {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

/* forms */

form {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}

label {
  display: block;
}

input {
  width: 100%;
  margin-bottom: 15px;
  line-height: 150%;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
  font-size: 150%;
}

textarea {
  width: 100%;
  display: block;
  border-radius: 10px;
  font-size: 150%;
  height: 400px;
  font-family: 'Open Sans';
  padding: 15px;
}

input[type=submit] {
  display: inline;
  margin-top: 30px;
  width: auto;
  background-color: #83bbb0;
  border-color: #59a595;
  color: #FFFFFF;
  cursor: pointer;
}

form.one-row  {
  text-align: center;
}

form.one-row input{
  width: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

form.one-row input[type=submit] {
  display: inline;
  width: auto;
  margin-top: 0px;
}

form.delete-form {
  border: 1px solid #444444;
  border-radius: 5px;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

form #delete-description {
  font-style: italic;
  font-weight: bold;
  font-size: 80%;
}

form.delete-form input[type=submit], form.delete-form a {
  display: inline;
  color: #FFFFFF;
  padding: 5px;
  font-size: 110%;
  border-radius: 4px;
  border: 0px;
  line-height: 100%;
  height: 30px;
  margin-top: 30px;
  margin-left: 0px;
  margin-right: 0px;
}

form.delete-form input[type=submit] {
  background-color: #7F0000;
  cursor: pointer;
}

form.delete-form a {
  background-color: #83bbb0;
}



@media only screen and (min-width: 568px) {
  /* iPad and up */
  header {
    line-height: 75px;
    font-size: 200%;
  }

  nav li {
    width: 33.33%;
  }

  main {
    padding: 25px 40px;;
  }

  /* form */
  form.one-row input{
    width: 50%;
  }


}

@media only screen and (min-width: 769px) {
  /* Small Desktop screens and up */

  header {
    text-align: center;
    line-height: 170px;
    font-size: 500%;
    padding: 0px;
  }

  a#logout-link {
    font-size: 30%;
  }

  #navicon {
    display: none;
  }

  nav {
    display: block;
    text-align: center;
  }

  nav li {
    display: inline;
    border: 0px;
  }

  nav a {
    display: inline-block;
    padding-left: 4%;
    padding-right: 4%;
  }

  main {
    padding: 30px 50px;;
  }

  footer img {
    margin-left: 5px;
    margin-right: 5px;
  }

  /* form */

  input {
    width: 60%;
    margin-right: 50%;
    box-sizing: border-box;
  }

  form.one-row input {
    width: 35%;
    display: inline;
    height: 60px;
    vertical-align: top;
  }

}


@media only screen and (min-width: 1025px) {
  /* Big Desktop screens */
  body {
    width: 1024px;
    margin: 30px auto;
  }

  header {
    line-height: 240px;
    font-size: 700%;
  }

  nav li {
    line-height: 50px;
    font-size: 120%;
  }

  main {
    padding: 40px 60px;;
  }

  /* form */

  input {
    width: 45%;
  }

}
