html {
  background-color: #EEEEEE;
}

body {
  margin: 0px;
  background-color: #FFFFFF;
}


@media only screen and (min-width: 1024px) {
  /* Big Desktop screens */
  body {
    width: 1024px;
    margin: 30px auto;
  }

}
