html {
  font-family: 'Roboto Slab';
  background-color: #EEEEEE;
  font-size: x-large;
}

body {
  background-color: #FFFFFF;
  width: 100%;
  margin: 0px;
}

@media only screen and (min-width: 1000px) {
  /* Big Desktop screens */
  body {
    width: 1000px;
    margin: 30px auto;
  }

}
