#image_grid {
  width: 100%;
  text-align: center;
}

.image_cell {
  position: relative;
  display: inline-block;
  width: 150px;
  height: 150px;
  background-size: cover;
  margin: 5px;
  cursor: pointer;
}

.image_title {
  background-color: #FFFFFF;
  font-size: 50%;
  margin-top: 5px;
  display: inline-block;
  padding-left: 3px;
  padding-right: 3px;
}

.delete-button {
  width: 50px;
  text-align: center;
  padding: 0px;
  display: inline-block;
  font-size: 50%;
  position: absolute;
  bottom: 3px;
  left: 50px;
  background-color: #7f0000;
  color: #FFFFFF;
}

.delete-button:hover {
  color: #FFEEEE;
}
