#publications {
    margin-top: 60px;
}

.pub-about {
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 90%;
  text-align: center;
}

.date {
  font-style: italic;
}

.authors {
  font-style: italic;
}

article {
  position: relative;
}

article h1 {
  font-size: 150%;
  text-align: center;
}
