{% extends "base.html" %}

{% block head %}
<title>About Sam Ireland</title>
<meta name="description" content="Sam Ireland's past exploits and activities.">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@samirelanduk">
<meta name="twitter:creator" content="@samirelanduk">
<meta name="twitter:title" content="Sam Ireland">
<meta name="twitter:description" content="About me">
<meta name="twitter:image" content="https://{{request.get_host}}/static/images/twitter-card.png">
<meta property="og:image" content="https://{{request.get_host}}/static/images/twitter-card.png">
{% endblock %}

{% block body %}
{% include "nav.html" %}

<header class="about connections container">
    <h1>About Me</h1>
</header>

<div class="about">
    <div class="container">
        {% for period in periods %}
        <div class="about-section">
            <img src="{{ period.image.url }}">
            <div class="about-text">
                <h2>{{ period.name }}</h2>
                <div class="date">{{ period.time }}</div>
                {{ period.description_html|safe }}
            </div>
        </div>
        {% endfor %}
    </div>

</div>


{% include "footer.html" %}
{% endblock %}