{% extends "base.html" %}

{% block head %}
<title>{{ article.title }} - Sam Ireland</title>
<meta name="description" content="{{ article.summary }}">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@samirelanduk">
<meta name="twitter:creator" content="@samirelanduk">
<meta name="twitter:title" content="{{ article.title }}">
<meta name="twitter:description" content="{{ article.summary }}">
<meta name="twitter:image" content="https://{{request.get_host}}{{article.image.url}}">
<meta property="og:image" content="https://{{request.get_host}}{{article.image.url}}">
{% endblock %}

{% block body %}
{% include "nav.html" %}
<article>
    <header class="container">
        <h1>{{ article.title }}</h1>
        <div class="author"><time>{{ article.date }}</time> &#183; Sam Ireland</div>
    </header>

    <main>
        <div class="container">
            <p>{{ article.body_html|safe }}</p>
        </div>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/rainbow/1.2.0/themes/tomorrow-night.css" rel="stylesheet" type="text/css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rainbow/1.2.0/js/rainbow.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rainbow/1.2.0/js/language/generic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rainbow/1.2.0/js/language/python.min.js"></script>
    </main>
</article>
{% include "footer.html" %}
{% endblock %}