{% load sass_tags %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="icon" type="image/gif" href="/static/images/favicon.gif">
    <link rel="apple-touch-icon" type="image/png" href="/static/images/favicon-96x96.png" sizes="96x96">
    <link rel="apple-touch-icon" type="image/png" href="/static/images/favicon-16x16.png" sizes="16x16">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Sam Ireland personal website">
    <meta name="keywords" content="Personal website">
    <title>Sam Ireland</title>
    <link href="{% sass_src 'css/style.scss' %}" rel="stylesheet" type="text/css">
    
    <!--analytics-->
  </head>

  <body>
    <header>
        <h1>Sam Ireland</h1>
    </header>
  </body>
</html>