{% extends "base.html" %}

{% block body %}
{% include "nav.html" %}
    <header id="home" class="home container connections">
        <div class="header-top">
          <h1>Sam Ireland</h1>
          <p>Hello, I'm a developer and bioinformatics PhD student based in London.</p>
        </div>

        <div class="header-bottom">
          <img src="/static/images/sam.jpg">
          {% include "social-icons.html" %}
        </div>
    </header>

    <section id="about" class="container">
      <div class="about-grid">
        <div class="about-box">
          <img src="/static/images/about-phd.svg">
          <p>My main occupation is my PhD. My research uses machine learning techniques to predict zinc binding in proteins.</p>
        </div>
        <div class="about-box">
          <img src="/static/images/about-goodwright.svg">
          <p>I also run a web design company called <a href="https://goodwright.org/" target="_blank">Goodwright</a> with my friend Alex. We design and make websites for labs and other scientific organisations.</p>
        </div>
        <div class="about-box">
          <img src="/static/images/about-other.svg">
          <p>In my spare time I like working on various other coding projects. If you'd like to collaborate on something, I'd love to hear from you!</p>
        </div>
      </div>
      <a class="about-link" href="/about/">Read more</a>
    </section>

    <section id="projects" class="container circuit">
      <h2>Projects</h2>
      <p>Here are some the things I've created in the past. You can see a full list of projects <a href="/projects/">here</a>.</p>
      <div class="projects">
        {% for project in projects %}
        <div class="project">
          <img class="close-button" src="/static/images/close.svg"></img>
          <div class="image"><img src="{{ project.image.url }}"></div>
          <h3>{{ project.name }}</h3>
          <div class="links">
            <a href="{{ project.github }}" target="_blank"><img src="/static/images/github-project.svg"></a>
            <a href="{{ project.url }}" target="_blank"><img src="/static/images/web-project.svg"></a>
          </div>
          <div class="technologies">
            {% for tech in project.tech_list %}
            <div class="technology">{{ tech }}</div>
            {% endfor %}
          </div>
          {{ project.intro|safe }}
          <div class="body">
            {{ project.body|safe }}
          </div>
        </div>
        {% endfor %}
      </div>
    </section>

    <section id="research" class="container">
      <h2>Research</h2>
      <p>I'm midway through a PhD at UCL, and my research currently focuses on zinc binding sites in proteins - identifying them, predicting them, and analysing them.</p>
      <p>Here are my most recent two publications:</p>
      <div class="publications">
        {% for pub in publications %}
        <a class="publication" href="{{ pub.url }}" target="_blank">
          <div class="image"><img src="{{ pub.image.url }}"></div>
          <h3>{{ pub.title }}</h3>
        </a>
        {% endfor %}
      </div>
    </section>

    <section id="writing" class="container zigzag">
      <h2>Recent Article</h2>
      <a class="article" href="/writing/{{ article.id }}/">
        <div class="image"><img src="{{ article.image.url }}"></div>
        <h3>{{ article.title }}</h3>
        <p>{{ article.summary }}</p>
      </a>
    </section>

    {% include "footer.html" %}
  {% endblock %}

