{% extends "base.html" %}

{% block head %}
<title>Sam Ireland</title>
<meta name="description" content="Sam Ireland's personal website.">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@samirelanduk">
<meta name="twitter:creator" content="@samirelanduk">
<meta name="twitter:title" content="Sam Ireland">
<meta name="twitter:description" content="My personal website">
<meta name="twitter:image" content="https://{{request.get_host}}/static/images/twitter-card.png">
<meta property="og:image" content="https://{{request.get_host}}/static/images/twitter-card.png">
{% endblock %}

{% block body %}
{% include "nav.html" %}
    <header id="home" class="home container connections">
        <div class="header-top">
          <h1>Sam Ireland</h1>
          <p>Hello, I'm a developer and bioinformatics PhD student based in London.</p>
        </div>

        <div class="header-bottom">
          <img src="/static/images/sam.jpg">
          {% include "social-icons.html" %}
        </div>
    </header>

    <section id="about" class="container">
      <div class="about-grid">
        <div class="about-box">
          <img src="/static/images/about-phd.svg" data-aos="zoom-in">
          <p data-aos="fade-up">My main occupation is my PhD. My research uses machine learning techniques to predict zinc binding in proteins.</p>
        </div>
        <div class="about-box">
          <img src="/static/images/about-goodwright.svg" data-aos="zoom-in">
          <p data-aos="fade-up">I also run a web design company called <a href="https://goodwright.org/" target="_blank">Goodwright</a> with my friend Alex. We design and make websites for labs and other scientific organisations.</p>
        </div>
        <div class="about-box">
          <img src="/static/images/about-other.svg" data-aos="zoom-in">
          <p data-aos="fade-up">In my spare time I like working on various other coding projects. If you'd like to collaborate on something, I'd love to hear from you!</p>
        </div>
      </div>
      <a class="button" href="/about/">More About Me</a>
    </section>

    <section id="projects" class="container circuit">
      <h2>Projects</h2>
      <div class="projects">
        {% for project in projects %}
        {% include "project.html" %}
        {% endfor %}
      </div>
      <a class="button" href="/projects/">More Projects</a>
    </section>

    <section id="writing" class="container">
      <h2>Recent Articles</h2>
      <div class="articles">
        {% for article in articles %}
          {% include "article-card.html" %}
        {% endfor %}
      </div>
      <a class="button" href="/writing/">More Articles</a>
    </section>

    <section id="research" class="container zigzag">
      <h2>Research</h2>
      <p class="section-info">I'm midway through a PhD at UCL, and my research currently focuses on zinc binding sites in proteins - identifying them, predicting them, and analysing them.</p>
      <p class="section-info">Here is a recent publication:</p>
      <div class="publications">
        {% include "publication-card.html" %}
      </div>
      <a class="button" href="/research/">More Publications</a>
    </section>

    {% include "footer.html" %}
  {% endblock %}

