<nav class="container">
    <a class="logo" href="{% if request.path == "/" %}#home{% else %}/{% endif %}">Sam Ireland</a>       
    <button onClick="toggleNav()">
        <div></div><div></div><div></div>
    </button>
    <div class="navlinks">
        <a href="{% if request.path == "/" %}#about{% else %}/about/{% endif %}">About</a>
        <a href="{% if request.path == "/" %}#projects{% else %}/projects/{% endif %}">Projects</a>
        <a href="{% if request.path == "/" %}#writing{% else %}/writing/{% endif %}">Writing</a>
        <a href="{% if request.path == "/" %}#research{% else %}/research/{% endif %}">Research</a>
    </div>
</nav>