{% extends "base.html" %}

{% block head %}
<title>Sam Ireland Projects</title>
<meta name="description" content="Sam Ireland's programming projects.">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@samirelanduk">
<meta name="twitter:creator" content="@samirelanduk">
<meta name="twitter:title" content="Sam Ireland">
<meta name="twitter:description" content="My coding projects">
<meta name="twitter:image" content="https://{{request.get_host}}/static/images/twitter-card.png">
<meta property="og:image" content="https://{{request.get_host}}/static/images/twitter-card.png">
{% endblock %}

{% block body %}
{% include "nav.html" %}

<header class="connections container">
    <h1>Projects</h1>
</header>

<section id="projects" class="container">
    <div class="section-info">
        Here are the projects I have worked on in the past, or are currently working
        on. You can filter them by the tehcnologies they each use if needed, or
        click on them to get more details.
    </div>

    <div class="technologies">
        {% for t in tech %}
        <div class="technology tech-button inactive">{{ t }}</div>
        {% endfor %}
    </div>

    <div class="projects">
        {% for project in projects %}
            {% include "project.html" %}
        {% endfor %}
    </div>
</section>


{% include "footer.html" %}
{% endblock %}