{% extends "base.html" %}

{% block body %}
{% include "nav.html" %}

<header class="connections container">
    <h1>Projects</h1>
</header>

<section id="projects" class="container">
    <div class="projects-info">
        Here are the projects I have worked on in the past, or are currently working
        on. You can filter them by the tehcnologies they each use if needed, or
        click on them to get more details.
    </div>

    <div class="technologies">
        {% for t in tech %}
        <div class="technology tech-button inactive">{{ t }}</div>
        {% endfor %}
    </div>

    <div class="projects">
        {% for project in projects %}
            {% include "project.html" %}
        {% endfor %}
    </div>
</section>


{% include "footer.html" %}
{% endblock %}