{% extends "base.html" %}

{% block title %}{{ publication.title }}{% endblock %}

{% block main %}
<article>
    <h1>{{ publication.title }}</h1>


    <div class="date">{{ publication.date|date:"j F, Y" }}</div>
    <div class="external-link">
        <a href="{{ publication.url }}" target="_blank">Full Publication</a> | DOI: {{ publication.doi }}</a>
    </div>
    <div class="authors">{{ publication.html_authors|safe }}</div>


    <div class="article-body">
    {{ publication.html|safe }}
    </div>
</article>

{% endblock %}
