#intro {
  display: table;
}

#intro-row {
  display: table-row;
}

#me-image {
  display: block;
  padding-left: 5%;
  padding-right: 5%;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

#brief-summary {
  display: block;
  position: relative;
}
