header.about {
    height: inherit;
    display: block;
    color: white;
    font-family: $logo-font;

    h1 {
        background-color: #00000000;
    }
}

.about {
    .about-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
            width: 100px;
            opacity: 0.7;
            border-radius: 50%;
        }
    }
}