#about {

    .about-grid {
        max-width: 400px;
        margin: 0px auto;
        margin-top: 10px;
        font-size: 14px;
        color: $gray-8;

        .about-box {
            padding: 20px;
            margin-bottom: 10px;
            background: white;
            border-bottom: 1px solid $gray-2;
            

            img {
                display: block;
                margin: 0px auto;
                margin-bottom: 20px;
                width: 100px;
            }

            p {
                line-height: 2;
                padding: 0px 20px;
                text-align: center;
                color: $gray-9;
            }
        }
    }

    .about-link {
        background: $primary-4;
        width: fit-content;
        padding: 15px;
        color: white;
        border-radius: 5px;
        margin: 30px auto;
        display: block;
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    }
}

@mixin about--800() {
    #about {
        .about-grid {
            max-width: 1000px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;

            .about-box {
                padding: 20px 10px;
                border-bottom: none;

                p {
                    line-height: 1.8;
                    font-size: 17px;
                }
            }
        }
    }
}