article {
    main {
        margin: 50px 0px;
        font-family: Montserrat;
        
        p, li {
            color: $gray-8;
            font-size: 14px;
            line-height: 1.6;
            margin-bottom: 20px;
        }
        
    }
}

@mixin article--500() {
    article {

        main {
            p, li {
                font-size: 16px;
            }
        }
    }
}

@mixin article--700() {
    article {  

        main {
            max-width: 900px;
            margin-left: auto;
            margin-right: auto;
            
            p, li {
                font-size: 18px;
                line-height: 1.75;
            }
        }
    }
}