article {
    main {
        margin: 50px 0px;
        font-family: Montserrat;
        
        p, li, h2 {
            color: $gray-8;
            font-size: 14px;
            line-height: 1.6;
            margin-bottom: 20px;
        }

        code {
            font-size: 8px;
        }

        h2 {
            font-size: 16px;
            margin-bottom: 10px;
            color: $gray-10;
        }
        
    }
}

@mixin article--400() {
    article {
        main {
            code {
                font-size: 12px;
            }
        }
    }
}

@mixin article--500() {
    article {

        main {
            p, li {
                font-size: 16px;
            }

            code {
                font-size: 14px;
            }

            h2 {
                font-size: 20px;
                margin-bottom: 15px;
            }
        }
    }
}

@mixin article--700() {
    article {  

        main {
            max-width: 900px;
            margin-left: auto;
            margin-right: auto;

            p, li, h2 {
                font-size: 18px;
                line-height: 1.75;
            }

            h2 {
                font-size: 26px;
            }
        }
    }
}