.card {
    border: 1px solid $border-gray;
    padding: $padding;
    border-radius: $curvature;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-bottom: 2rem;
    font-size: 0.9em;
    text-align: center;
    background-color: lighten($green, 55);
    cursor: pointer;

    .card-link {
        color: inherit;
        display: block;
        height: 100%;
    }

    .card-title {
        margin-bottom: 1rem;
    }

    .card-date {
        font-weight: bold;
        font-style: italic;
        margin-bottom: 1.5rem;
    }

    .card-summary {
        font-style: italic;
    }

    figure, video, .youtube {
        display: none;
    }
}

article {

    h1 {
        text-align: center;
        margin-bottom: 2rem;
    }

    .date {
        text-align: center;
        font-style: italic;
        font-size: 1.2em;
        margin-bottom: 2rem;
    }

    .external-link {
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .authors {
        text-align: center;
        font-style: italic;
    }

    .article-body {
        margin-top: 5rem;
    }

    .next-page, .previous-page {
        margin-top: 4rem;
        display: inline-block;
        width: 48%;
        text-align: center;
        font-weight: bold;
    }
}

article.card {
    text-align: left;
    cursor: inherit;

    figure, video, .youtube {
        display: block;
    }
}

.home-grid {
    h2 {
        text-align: center;
    }

    .home-cell {
        margin-bottom: 7rem;
        max-width: 500px;
        @include margin-side(auto);
    }
}

.project {
    margin-bottom: 7.5rem;
    position: relative;

    img.project-image {
        width: 10rem;
        height: 10rem;
        border-radius: 2.5rem;
        display: block;
        @include margin-side(auto);
    }
}

#media-grid {
    width: 100%;
    text-align: center;

    .media-square {
        position: relative;
        display: inline-block;
        width: 15rem;
        height: 15rem;
        background-size: cover;
        background-position: center;
        margin: 0.5rem;

        .image_title {
            background-color: #FFFFFF;
            font-size: 50%;
            margin-top: 0.5rem;
            display: inline-block;
            padding-left: 0.3rem;
            padding-right: 0.3rem;
        }
    }
}


@mixin components--tablet() {

    .cards {
        .card {
            padding: 2 * $padding;
        }
    }

    .project {
        display: flex;
        align-items: center;
        margin-bottom: 5rem;

        img.project-image {
            display: inline-block;
        }

        .project-body {
            display: inline-block;
            width: calc(100% - 10rem);
            padding-left: 5rem;
            flex-grow: 5;
        }
    }


}


@mixin components--laptop() {

    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: $padding;

        .card {
            margin-bottom: 0px;
        }
    }
}


@mixin components--desktop() {
    .home-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 2 * $padding;

        .home-cell {
            margin-bottom: 0px;
            font-size: 0.8em;

            .card {
                margin-bottom: 0px;
            }
        }
    }
}
