footer {
    display: grid;
    grid-gap: 15px;
    text-align: center;
    background-color: $primary-5;
    color: white;
    font-size: 14px;
    font-family: Montserrat;
    line-height: 2;
    padding: 25px 0px;

    a {
        color: inherit;
        text-decoration: underline;
    }
}

@mixin footer--600() {
    footer {
        font-size: 16px;
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr 1fr;
        padding: 35px 0px;
        line-height: 3;

        .social-icons {
            grid-area: 1 / 1 / 2 / 3;
        }

        .source {
            grid-area: 2 / 1 / 3 / 2;
            text-align: right;
        } 
        .copyright {
            grid-area: 2 / 2 / 3 / 3;
            text-align: left;
        } 
    }
}

@mixin footer--900() {
    footer {
        padding: 40px 0px;
        grid-column-gap: 40px;
    }
}