header {
    background-color: transparentize($primary-5, 0.15);
    text-align: center;
    color: white;

    h1 {
        font-family: $logo-font;
        padding: 30px 0px;
        font-size: 26px;
    }

    .author, .authors, .links {
        font-weight: 300;
        padding: 0 0 20px 0;
    }

    .authors {
        font-style: italic;
        line-height: 1.5;
        font-size: 12px;
    }

    time {
        display: inline;
    }

    * {
        background-color: #00000000;
    }  
}

header.home {
    height: 100vh;
    display: grid;
    grid-auto-rows: 1fr;

    .header-top, .header-bottom {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: #00000000;
    }

    .header-top {
        justify-content: flex-end;

        h1 {
            font-size: 40px;
            margin-bottom: 30px;
        }

        p {
            margin-bottom: 50px;
            line-height: 2;
            color: white;
            max-width: 300px;
            margin-left: auto;
            margin-right: auto;
            font-weight: 400;
        }
    }

    .header-bottom {

        justify-content: flex-start;
        img {
            display: block;
            width: 125px;
            margin: 0px auto;
            border-radius: 50%;
            margin-bottom: 20px;
        }
    }  
}

header.e404 {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
    flex-direction: column;

    h1 {
        font-size: 72px;
    }

    a {
        display: block;
        color: white;
        text-decoration: underline;
    }
}

header.ios {
    height: calc(100vh - 100px);
}

@mixin header--500() {
    header {
    
        h1 {
            padding: 30px 0px;
            font-size: 32px;
        }
    
        .author, .authors, .links {
            font-size: 18px;
            padding: 0 0 24px 0;
        }

        .authors {
            font-size: 16px;
        }
    }

    header.home {
        .header-top {
            h1 {
                font-size: 44px;
            }
            p {
                font-size: 18px;
                max-width: 400px;
            }
        }

        .header-bottom {
            img {
                margin-bottom: 40px;
            }
        }
    }
}

@mixin header--700() {
    header {
    
        h1 {
            padding: 40px 0px;
            font-size: 42px;
        }
    
        .authors {
            padding: 0 0 28px 0;
            font-size: 20px;
        } 
    }
    
    header.home {
        grid-template-columns: 1fr 1fr;

        .header-top, .header-bottom {
            flex-direction: column;
            justify-content: center;
            padding-bottom: 100px;

            h1 {
                margin-bottom: 0;
            }
        }

        .header-bottom {
            img {
                width: 175px;
            }
        }
    }
}

@mixin header--800--portait() {
    header.home {
        max-height: 500px;
    }
}

@mixin header--1000() {
    header.home {
        .header-top {
            h1 {
                font-size: 72px;
            }
            p {
                font-size: 20px;
            }
        }

        .header-bottom {
            img {
                width: 200px;
            }
        }
    }
}
