header {
    background-color: $primary-5;
    height: 100vh;
    color: white;
    text-align: center;
    display: grid;
    grid-auto-rows: 1fr;
    
    svg {
        fill: red;
    }
    .header-top, .header-bottom {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: #00000000;
    }

    .header-top {
        justify-content: flex-end;

        h1 {
            font-size: 40px;
            font-family: $logo-font;
            margin-bottom: 30px;
        }

        p {
            margin-bottom: 50px;
            line-height: 2;
        }
    }

    .header-bottom {
        img {
            display: block;
            width: 100px;
            margin: 0px auto;
            border-radius: 50%;
            margin-bottom: 20px;
        }
    
        .social-icons {
    
            svg {
                width: 20px;
                margin: 0px 5px;
                cursor: pointer;
            }
        }
    }

    

    

    
}