header {
    background-color: $primary-5;
    height: 100vh;
    text-align: center;
    display: grid;
    grid-auto-rows: 1fr;

    .header-top, .header-bottom {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: #00000000;
    }

    .header-top {
        justify-content: flex-end;

        h1 {
            font-size: 40px;
            font-family: $logo-font;
            margin-bottom: 30px;
            color: white;
        }

        p {
            margin-bottom: 50px;
            line-height: 2;
            color: white;
        }
    }

    .header-bottom {

        justify-content: flex-start;
        img {
            display: block;
            width: 100px;
            margin: 0px auto;
            border-radius: 50%;
            margin-bottom: 20px;
        }
    
        .social-icons {
    
            svg {
                width: 20px;
                margin: 0px 5px;
                cursor: pointer;
            }
        }
    }   
}

section {
    h2 {
        margin-top: 30px;
        font-size: 24px;
        text-align: center;
        background-color: #ffffff00;
    }

    p {
        text-align: center;
        line-height: 2;
        color: $gray-7;
        background-color: #ffffff00;
        margin: 30px 0px;
    }
}

#about {
    .about-grid {
        max-width: 400px;
        margin: 0px auto;
        margin-top: 10px;
        font-size: 14px;
        color: $gray-8;

        .about-box {
            padding: 20px;
            margin-bottom: 10px;
            background: white;
            border-bottom: 1px solid $gray-2;
            

            img {
                display: block;
                margin: 0px auto;
                margin-bottom: 20px;
                width: 100px;
            }

            p {
                line-height: 2;
                padding: 0px 20px;
                text-align: center;
                color: $gray-9;
            }
        }
    }

    .about-link {
        background-image: linear-gradient(to right, $primary-3 0%, $primary-4 100%);
        width: fit-content;
        width: -moz-fit-content;
        padding: 15px;
        color: white;
        border-radius: 5px;
        margin: 30px auto;
        display: block;
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    }
}

#projects {
    background-color: $gray-1;
    
    .projects {
        display: grid;
        grid-gap: 20px;
        background: #00000000;

        .project {
            max-width: 300px;
            margin: 0px auto;
            display: block;
            background: white;
            text-align: center;
            padding: 10px;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    
            .image {
                margin-bottom: 20px;
                height: 120px;
                display: flex;
                justify-content: center;
                align-items: center;
                
                img {
                    width: 100px;
                }
            }
    
            h3 {
                font-weight: bold;
                font-size: 18px;
                color: $gray-9;
            }
            
            p {
                color: $gray-6;
                line-height: 1.8;
                font-size: 12px;
                margin-top: 10px;
            }
        }

    }
}

#research {
    .publications {
        display: grid;
        grid-gap: 20px;

        .publication {
            margin: 0px auto;
            display: block;
            background: $primary-3;
            text-align: center;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    
            .image {
                background-color: white;
                img {
                    width: 100%;
                    opacity: 0.6;
                    display: block;
                }
            }

            h3 {
                padding: 25px 15px;
                font-weight: bold;
                font-size: 16px;
                color: white;
                background-color: $primary-3;
                line-height: 1.5;
            }
        }
    }
}

@mixin home--500() {

    section {
        h2 {
            font-size: 32px;
        }

        p {
            font-size: 18px;
        }
    }

    #projects {
        .projects {
            .project {
                max-width: 450px;
                width: 450px;

                .image {
                    height: 180px;
                    
                    img {
                        width: 150px;
                    }
                }

                h3 {
                    font-size: 24px;
                }

                p {
                    font-size: 16px;
                }
            }
        }
    }
}

@mixin home--600() {
    header {
        .header-top {
            h1 {
                font-size: 44px;
            }
            p {
                font-size: 18px;
            }
        }
    }

    #research {
        .publications {
            grid-template-columns: 1fr 1fr;
            grid-gap: 40px;

            .publication {
                .image {
                    height: 220px;
                    overflow: hidden;
                }
            }
        }
    }
}

@mixin home--800() {
    header {
        grid-template-columns: 1fr 1fr;

        .header-top, .header-bottom {
            flex-direction: column;
            justify-content: center;
            padding-bottom: 100px;
        }

        .header-top {

            h1 {
                font-size: 54px;
            }

            p {
                margin: 0px;
            }
        }

        .header-bottom {
            img {
                width: 150px;
            }

            .social-icons {
    
                svg {
                    width: 30px;
                    margin: 0px 10px;
                }
            }
        }
    }

    section {
        h2 {
            font-size: 36px;
        }

        p {
            font-size: 20px;
            margin: 40px 0px;
        }
    }

    #about {
        .about-grid {
            max-width: 1000px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;

            .about-box {
                padding: 20px 10px;
                border-bottom: none;

                p {
                    line-height: 1.8;
                    font-size: 17px;
                }
            }
        }
    }

    #projects {
        .projects {
            grid-template-columns: 350px 350px;
            margin: 0px auto;
            width: fit-content;
            width: -moz-fit-content;

            .project {
                max-width: 350px;
                width: 350px;

                .image {
                    height: 150px;
                    
                    img {
                        width: 120px;
                        opacity: 0.6;
                    }
                }

                h3 {
                    font-size: 22px;
                }

                p {
                    font-size: 16px;
                }
            }
        }
    }

    #research {
        .publications {
            grid-template-columns: 350px 350px;
            grid-gap: 60px;
            width: fit-content;
            width: -moz-fit-content;
            margin: 0px auto;
        }
    }
}

@mixin home--1000() {
    header {
        .header-top {
            h1 {
                font-size: 72px;
            }
            p {
                font-size: 20px;
            }
        }

        .header-bottom {
            img {
                width: 200px;
            }

            .social-icons {
    
                svg {
                    width: 40px;
                    margin: 0px 10px;
                }
            }
        }
    }
}

@mixin home--1200() {
    section {
        h2 {
            font-size: 48px;
        }

        p {
            font-size: 22px;
            margin: 50px 0px;
        }
    }

    #projects {
        .projects {
            grid-template-columns: 1fr 1fr 1fr 1fr;

            .project {
                max-width: 250px;
                width: 250px;

                h3 {
                    font-size: 28px;
                }

                p {
                    font-size: 16px;
                }
            }
        }
       
    }
}