nav {
    height: $nav-height;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;

    .logo {
        font-family: $logo-font;
        color: #ffffff00;
        font-size: 20px;
        transition-duration: 1s;
    }

    button {
        margin: 6px 0px;
        background: transparent;
        border: 1px solid #fff;
        border-radius: 3px;
        cursor: pointer;
        padding: 3px 8px;
        font-size: 1.25rem;
        height: $nav-height * 0.5;
        line-height: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;

        div {
            content: "";
            background: white;
            height: 1px;
            margin: 1.5px 0px;
            width: 18px;
        }
    }

    .navlinks {
        height: 0;
        position: fixed;
        left: 0;
        right: 0;
        top: $nav-height;
        overflow: hidden;
        background: $primary-4;
        transition-property: height;
        transition-duration: 0.2s;
        transition-timing-function: cubic-bezier(0, 1, 0.5, 1);

        a {
            color: white;
            display: flex;
            align-items: center;
            position: relative;
            line-height: 2.5;
            font-weight: 400;
            margin-left: 26px;
            width: 100%;
        }

        a:after {
            content: "";
            height: 1px;
            width: 1000%;
            background: transparentize($color: $primary-1, $amount: 0.8);
            position: absolute;
            bottom: 0;
            margin-left: -500px;
        }

        a:last-child:after {
            height: 0px;
        }
    }
}

nav.visible {
    background-color: transparentize($color: $primary-5, $amount: 0.05);
}

nav.logo-visible {
    .logo {
        transition-duration: 1s;
        color: white;
        background-color: #ffffff00;
    }
}

nav.shadowed {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.23), 0 2px 10px 0 rgba(0,0,0,0.23);
}

@mixin nav--500() {
    nav {

        button {
            display: none;
        }

        .navlinks {
            display: flex;
            background: #ffffff00;
            height: $nav-height;
            width: fit-content;
            top: 0;
            display: flex;
            justify-content: end;
            align-items: center;
            font-size: 16px;
            position: relative;

            a {
                margin-left: 10px;
                width: auto;
            }

            a:after {
                height: 0px;
            }
        }
    }
}

@mixin nav--600() {
    nav {
        .navlinks {
            a {
                margin-left: 20px;
            }
        }
    }
}

@mixin nav--700() {
    nav {
        .navlinks {
            a {
                margin-left: 30px;
            }
        }
    }
}

@mixin nav--800() {
    nav {
        .navlinks {
            a {
                margin-left: 40px;
            }
        }
    }
}

@mixin nav--900() {
    nav {
        .navlinks {
            a {
                margin-left: 50px;
            }
        }
    }
}