* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: normal;
    vertical-align: baseline;
    box-sizing: border-box;
    text-decoration: none;
    list-style: inherit;
    list-style: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}