.social-icons {
    
    svg {
        width: 20px;
        margin: 0px 5px;
        cursor: pointer;
    }
}

@mixin social--800() {
    .social-icons {
        
        svg {
            width: 30px;
            margin: 0px 10px;
        }
    }
}

@mixin social--1200() {
    .social-icons {
    
        svg {
            width: 40px;
            margin: 0px 10px;
        }
    }
}
