$primary-1: hsl(168, 34%, 81%);
$primary-2: hsl(168, 34%, 72%);
$primary-3: hsl(168, 34%, 63%);
$primary-4: hsl(168, 34%, 54%);
$primary-5: hsl(168, 34%, 45%);
$primary-6: hsl(168, 34%, 36%);
$primary-7: hsl(168, 34%, 27%);
$primary-8: hsl(168, 34%, 18%);
$primary-9: hsl(168, 34%, 9%);

$nav-height: 50px;

$logo-font: 'Roboto slab';

@import "reset";
@import "core";
@import "nav";
@import "header";