$primary-1: hsl(168, 34%, 81%);
$primary-2: hsl(168, 34%, 72%);
$primary-3: hsl(168, 34%, 63%);
$primary-4: hsl(168, 34%, 54%);
$primary-5: hsl(168, 34%, 45%);
$primary-6: hsl(168, 34%, 36%);
$primary-7: hsl(168, 34%, 27%);
$primary-8: hsl(168, 34%, 18%);
$primary-9: hsl(168, 34%, 9%);

$gray-1: hsl(216, 33%, 97%);
$gray-2: hsl(214, 15%, 91%);
$gray-3: hsl(210, 16%, 82%);
$gray-4: hsl(211, 13%, 65%);
$gray-5: hsl(211, 10%, 53%);
$gray-6: hsl(211, 12%, 43%);
$gray-7: hsl(209, 14%, 37%);
$gray-8: hsl(209, 18%, 30%);
$gray-9: hsl(209, 20%, 25%);
$gray-10: hsl(210, 24%, 16%);

$nav-height: 50px;

$logo-font: 'Roboto slab';

@import "reset";
@import "core";
@import "nav";
@import "header";
@import "about";
@import "projects";

@media (min-width: 400px) {
    @include core--400();
}

@media (min-width: 500px) {
    @include core--500();
    @include nav--500();
    @include projects--500();
}

@media (min-width: 600px) {
    @include core--600();
    @include nav--600();
    @include header--600();
}

@media (min-width: 700px) {
    @include core--700();
    @include nav--700();
}

@media (min-width: 800px) {
    @include core--800();
    @include header--800();
    @include nav--800();
    @include about--800();
    @include projects--800();
}

@media (min-width: 900px) {
    @include core--900();
    @include nav--900();
}

@media (min-width: 1000px) {
    @include core--1000();
    @include header--1000();
}

@media (min-width: 1100px) {
    @include core--1100();
}

@media (min-width: 1200px) {
    @include core--1200();
    @include projects--1200();
}